<div style="margin-top: 20px;">
  <%= link_to "#{student.firstname} #{student.lastname}", student_path(student) %> <br/>
  
  <!-- these links allow us to show, edit and delete a user -->
  <%= link_to "Show Student", student_path(student) %>
  <%= link_to "Edit Student", edit_student_path(student) %>
  <%= link_to "Destroy Student", student_path(student), method: :delete %>

</div>