<div class="uk-margin-medium-left">
  <h1>Students</h1>
  <ul class="uk-list uk-list-striped">
<% @students.each do |student| %>
  <li><%= render partial: 'student', locals: { student: student } %></li>
<% end %>
</ul>
<br/>
  <%= link_to "New Student", new_student_url%> 
</div>