<div style="margin-top: 20px;">
  <%= link_to "#{instructor.firstname} #{instructor.lastname}", instructor_path(instructor.id) %> <br/>
  
  <!-- these links allow us to show, edit and delete a user -->
</div>