<div class="uk-margin-medium-left uk-margin-medium-right">
<h1>Courses</h1>
<ul class="uk-list uk-list-striped">
<% @courses.each do |course| %>
  <li><%= render partial: 'course', locals: { course: course } %> </li>
<% end %>
</ul>
<br/>
  <%= link_to "New Course", new_course_url%> 
</div>