<h1>Courses#index</h1>
<p>Find me in app/views/Courses/index.html.erb</p>

<% @courses.each do |course| %>
  <%= render partial: 'course', locals: { course: course } %>
<% end %>

  <%= link_to "New Course", new_course_url%> 
